<%- include('header'); -%>

    <h1>Willkommen zu ihrem Quizz</h1>
    <h3 class="start-text">Drücken Sie start um zu beginnen</h3>
    <button type="button" id="start" class="btn btn-success">Start</button>
    <div class="quizz"></div>

    <%- include('footer'); -%>