<%- include('header'); -%>

    <h1>Register</h1>
    <p>Please fill out the whole Form.</p>
    <form action="/register" method="post">
        <input type="text" name="user_name" placeholder="Username">
        <br>
        <input type="email" name="user_email" placeholder="Email">
        <br>
        <input type="password" name="user_password" placeholder="Password">
        <br>
        <input type="password" name="user_password_check" placeholder="Password">
        <br>
        <button class="btn btn-success" type="submit" name="enter_form">Submit</button>
    </form>

    <%- include('footer'); -%>