* {
    text-align: center;
}

input {
    margin-top: .5rem;
}

button {
    margin: .8rem;
}

.alert-box {
    background-color: #Faa;
    font-weight: bold;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.slider-div {
    width: 15%;
    height: 3rem;
    background-color: #a77;
}